@tailwind base;
@tailwind components;
@tailwind utilities;

.App td {
    color: rgb(255, 166, 0);
}

.App tr {
    display: flex;
    flex-wrap: wrap;
}

.App td {
    margin-right: 16px;
}

.App input,
textarea {
    padding: 8px;
    color: black;
}

.App button {
    height: 100%;
    padding: 8px;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 8px;
}
