@tailwind base;
@tailwind components;
@tailwind utilities;

.App img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.App td {
    color: rgb(255, 166, 0);
}

.App tr {
    display: flex;
    flex-wrap: wrap;
}

.App td {
    margin-right: 16px;
}

.App input,
.App textarea {
    padding: 2px;
    color: black;
}

.App button {
    background-color: white;
    color: black;
    height: 100%;
    padding: 2px;
    border-radius: 2px;
}

/* From https://css-tricks.com/inclusively-hidden/  */

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
